.green{
    background-color: green;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
#shapes{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
  

}